/*

font-family: "PT Sans Caption", sans-serif;
font-family: "PT Sans", sans-serif;

*/

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	max-width: 970px;

	margin: 0 auto;
	padding: 0 15px;
}

/* header */

.header {
	height: 100%;
	min-height: 100vh;
	
	background: fixed url("../img/headbg.jpg") no-repeat;
	background-size: cover;
  background-position: center;
}