/*

font-family: "PT Sans Caption", sans-serif;
font-family: "PT Sans", sans-serif;

*/

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6, p, ul, li, img {
	margin: 0;
	padding: 0;
}

img {
  vertical-align: bottom;
}

.container {
	width: 100%;
	max-width: 1140px;

	margin: 0 auto;
	padding: 0 15px;
}

/* header */

.main-header__logo {
  float: left;
  
  width: 190px;
}

.main-header__logo {
  padding: 18px 0 15px;
}

.main-header__menu {
  float: right;
}

.main-header__menu__items {
  list-style-type: none;
}

.main-header__menu__items li {
  display: inline-block;
  
  margin-right: -3px;
}

.main-header__menu__items a {
  display: block;
  padding: 25px 10px;
  
  font-family: "PT Sans Caption", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #2f2f30;
  text-decoration: none;
  text-transform: uppercase;
}

.main-header__menu__items a:hover {
  color: #db001b;
}

.main-header__address-bar__items {
  list-style-type: none;
  
  padding: 13px 0;
  
  text-align: right;
}

.main-header__address-bar {
  background: #2b2b2b;
}

.main-header__address-bar__items li {
  display: inline-block;
  
  padding-left: 30px;
  margin-left: 32px;
  
  font-family: "PT Sans Caption", sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
}

.marker-icon {
  background: url("../img/marker.png") no-repeat;
  background-position: 0 7px;
}

.phone-icon {
  background: url("../img/phone.png") no-repeat;
  background-position: 0 7px;
}

/* slider */

.main-slider__inner {
  position: relative;
}

.main-slider__content {
  position: absolute;
  top: 15%;
  left: 50%;
  
  width: 470px;
  margin-left: -235px;
  
  text-align: center;
}

.main-slider__content h1 {
  margin-bottom: 8%;
  
  font-family: "PT Sans Caption", sans-serif;
  font-size: 48px;
  line-height: 80px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

.main-slider__request-button {
  display: inline-block;
  
  padding: 7px 20px 10px;
  
  border: 2px solid #ffffff;
  
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  text-transform: lowercase;
  outline: none;
  
  cursor: pointer;
}

.main-slider__img {
	width: 100%;
	height: auto;
	max-height: calc(100vh - 127px);
}

/* servises */

.our-services {
  padding: 50px 0;
}

.section-title-wrapper {
  position: relative;
  
  margin-bottom: 50px;
  
  text-align: center;
}

.section-title-wrapper::after {
  content: "";
  position: relative;
  bottom: 54px;
  
  display: block;
  width: 620px;
  height: 1px;
  margin: 0 auto;
  
  background: #b6b6b6;
}

.section-title {
  position: relative;
  z-index: 10;
  display: inline-block;
  padding: 0 55px;
  
  background: #ffffff;
  
  font-family: "PT Sans Caption", sans-serif;
  font-size: 30px;
  line-height: 110px;
  font-weight: 600;
  color: #2b2b2b;
  text-transform: uppercase;
}

.our-services__items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
}

.our-services__item {
  width: 155px;
}